extends layout

block content

  div
    p the time is
    p(id="clockbox") time

  h1(id="nightlight") Night light
  div
    button#btnSwitchNightLight Switch Night Light

  div
    p duration in min
    input#nightLightDuration(type="text", placeholder="30")
    p intensity (0-1)
    input#nightLightIntensity(type="text", placeholder="1")

  h1(id="wakeallowed") Wake up allowed
  div
    div
      button#btnSwitchWakeAllowed Switch wake up allowed
    ul
      li
        day monday
        input#mondayhour(type="text", placeholder="5")
        input#mondaymin(type="text", placeholder="0")
        span(id="secremainingmon")
      li
        day tuesday
        input#tuesdayhour(type="text", placeholder="7")
        input#tuesdaymin(type="text", placeholder="0")
        span(id="secremainingtue")
      li
        day wednesday
        input#wednesdayhour(type="text", placeholder="7")
        input#wednesdaymin(type="text", placeholder="0")
        span(id="secremainingwed")
      li
        day thursday
        input#thursdayhour(type="text", placeholder="7")
        input#thursdaymin(type="text", placeholder="0")
        span(id="secremainingthu")
      li
        day friday
        input#fridayhour(type="text", placeholder="7")
        input#fridaymin(type="text", placeholder="0")
        span(id="secremainingfri")
      li
        day saturday
        input#saturdayhour(type="text", placeholder="7")
        input#saturdaymin(type="text", placeholder="0")
        span(id="secremainingsat")
      li
        day sunday
        input#sundayhour(type="text", placeholder="7")
        input#sundaymin(type="text", placeholder="0")
        span(id="secremainingsun")

  div
    p duration
    input#wakeUpAllowedDuration(type="text", placeholder="30")
    p intensity
    input#wakeUpAllowedIntensity(type="text", placeholder="0.5")


  div
    button#updateSettings update settings
  div
    button#getState Get State
