extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    button#btnTurnLightOn Turn Light ON

  div
    p the time is
    p(id="clockbox").
    time

  div
    ul
      li
        day monday
        input#mondayhour(type="text", placeholder="7")
        input#mondaymin(type="text", placeholder="0")
      li
        day tuesday
        input#tuesdayhour(type="text", placeholder="7")
        input#tuesdaymin(type="text", placeholder="0")
      li
        day wednesday
        input#wednesdayhour(type="text", placeholder="7")
        input#wednesdaymin(type="text", placeholder="0")
      li
        day thursday
        input#thursdayhour(type="text", placeholder="7")
        input#thursdaymin(type="text", placeholder="0")
      li
        day friday
        input#fridayhour(type="text", placeholder="7")
        input#fridaymin(type="text", placeholder="0")
      li
        day saturday
        input#saturdayhour(type="text", placeholder="7")
        input#saturdaymin(type="text", placeholder="0")
      li
        day sunday
        input#sundayhour(type="text", placeholder="7")
        input#sundaymin(type="text", placeholder="0")